\ChatAppWithSignalR\ChatAppClient\scripts\bootstrap.min

\ChatAppWithSignalR\ChatAppClient\scripts\jquery.min

\ChatAppWithSignalR\ChatAppClient\scripts\signalr.min

\ChatAppWithSignalR\ChatAppClient\styles\bootstrap.min

